<footer class="bg-black text-white">
  <div class="mx-auto text-center py-6">
    <p class="text-sm text-white/70">{{ contactLabel }}</p>
    <p class="mt-3 text-white/60 text-sm">
      Email:
      <a href="mailto:madori452@gmail.com" class="underline"></a>
      madori452&#64;gmail.com
    </p>
    <p class="mt-3 flex justify-center">
      <a
        href="https://www.linkedin.com/in/%E7%BF%A0%E5%B3%B0-%E8%91%A3-54bb60123/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="../../../assets/icon01.svg" alt="Icon" />
      </a>
      <a
        href="https://www.behance.net/madori"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="../../../assets/icon02.svg" alt="Icon" class="ms-2" />
      </a>
    </p>
    <p class="mt-3 text-white/60 text-sm">© {{ year }} Design by Tracy</p>
  </div>
</footer>
