<div class="">
  <app-site-header></app-site-header>

  <app-cover></app-cover>

  <section id="experience" class="py-20">
    <div class="">
      <app-experience></app-experience>
    </div>
  </section>

  <section id="skills" class="py-24 bg-gray-50">
    <div class="mx-auto w-full max-w-6xl px-6 p">
      <app-skills></app-skills>
    </div>
  </section>

  <section id="works" class="py-24">
    <div class="mx-auto w-full max-w-6xl px-6">
      <app-works></app-works>
    </div>
  </section>

  <section id="future" class="py-40">
    <app-future></app-future>
  </section>

  <app-site-footer></app-site-footer>
</div>
