<div class="text-center">
  <h2 class="text-3xl font-semibold">Skills</h2>
</div>

<div class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-6">
  <div class="rounded-xl bg-white shadow-soft p-6">
    <h3 class="font-semibold text-xl">Front End</h3>
    <ul class="mt-4 space-y-2 text-gray-600 text-md">
      <li><span class="font-bold">前端框架：</span>Angular、Vue</li>
      <li><span class="font-bold">程式語言：</span>TypeScript、JavaScript</li>
      <li><span class="font-bold">視覺化圖表：</span>ECharts、Chart.js</li>
      <li><span class="font-bold">地圖應用：</span>OpenLayers、mapPlus GIS</li>
      <li><span class="font-bold">單元測試：</span>Karma、Jasmine</li>
      <li><span class="font-bold">AI工具運用：</span>Copilot</li>
    </ul>
  </div>

  <div class="rounded-xl bg-white shadow-soft p-6">
    <h3 class="font-semibold text-xl">Web UI</h3>
    <ul class="mt-4 space-y-2 text-gray-600 text-md">
      <li><span class="font-bold">前端語法：</span>HTML5, 、CSS 、SCSS</li>
      <li><span class="font-bold">CSS 框架： </span>Tailwind CSS、Bootstrap</li>
      <li><span class="font-bold">視覺化圖表：</span>ECharts、Chart.js</li>
      <li><span class="font-bold">UI 設計：</span>Figma 、Sketch、Adobe XD</li>
    </ul>
  </div>

  <div class="rounded-xl bg-white shadow-soft p-6">
    <h3 class="font-semibold text-xl">UI 元件與協作工具</h3>
    <ul class="mt-4 space-y-2 text-gray-600 text-md">
      <li>
        <span class="font-bold">前端元件：</span>PrimeNG、NgBootstrap、 Vuetify
      </li>
      <li><span class="font-bold">版本控制：</span>Git / GitLab / GitHub</li>
    </ul>
  </div>
</div>
